# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#dossiers
.idea/
.vscode/
cmake-build-debug/
lo21xcode/

#fichiers 
*.DS_Store
feature/Partie/CMakeLists.txt
feature/Partie/Joueur.cpp
feature/Partie/Joueur.h
feature/Partie/README.md
feature/Partie/cases.cpp
feature/Partie/cases.h
feature/Partie/coords.cpp
feature/Partie/coords.h
feature/Partie/legalmoves.cpp
feature/Partie/legalmoves.h
feature/Partie/main.cpp
feature/Partie/main.ilk
feature/Partie/main.pdb
feature/Partie/pieces.cpp
feature/Partie/pieces.h
feature/Partie/plateau.cpp
feature/Partie/plateau.h
feature/Partie/vc140.pdb

