# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
.idea/
cmake-build-debug/
.vscode/
build/

# Other
*.ilk
*.pdb
*.json

/.idea
/build
/cmake-build-develop
.DS_Store
.e4acb90
build/